# Ignorar archivos generados por Maven
target/
*.log

# Ignorar archivos de IDE
.idea/
*.iml

# Ignorar cachés del sistema
.cache/
.config/
.local/

# Ignorar directorios personales
Escritorio/
Descargas/
Documentos/
Imágenes/
Música/
Vídeos/

# Ignorar otros proyectos
*.tmp
*.bak
node_modules/
dist/
eclipse-workspace/
NetBeansProjects/
PycharmProjects/
